footer {
  max-width: 1024px;
  background: $body-color;
  padding: 50px 25px;
  text-align: center;

  .contacts {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        padding: 5px 0;
        font-size: 17px;
        transition: 0.3s;

        &:hover {
          font-weight: 600;
        }
      }
    }
  }

  p {
    font-size: 12px;
  }

  i {
    color: $blue;
    font-size: 2rem;
    margin: 15px 0;
    padding: 0 15px;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}