.water {
  background: url(../fotkes/bg-masthead.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1024px;
  padding: 130px 15px;
  text-align: center;

  h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .email {
      padding: 10px;
      border-radius: 5px;
      border: none;
      font-family: lato;
      font-size: 1.2rem;
      outline: none;
    }

    .send {
      padding: 10px;
      border-radius: 5px;
      border: 1px solid $blue;
      background-color: $blue;
      color: white;
      font-size: 1.2rem;
      font-family: lato;
      font-weight: 500;
      transition: 0.4s;

      &:hover {
        color: $blue;
        background: white;
        cursor: pointer;
      }
    }
  }
}